* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, article { max-width: 87.500em; margin: 0 auto; }
header { margin-bottom: 2em; }
header > h1 { text-align: center;  }
article { padding: 5em; }

header nav { width:100%; border-bottom: 1px solid #ccc;  padding: .6em 0; }
header ul { list-style: none; padding: 0px; margin: 0px; font-weight: bold; text-align: center; }
header ul li { display: inline-block; text-align: left; }
header ul li a { display: block; padding: 5px 10px; text-decoration: none; color: #444; }
header ul li a:hover { background-color: #ccc; }

.anchor-link { display: none; font-weight: bold; padding: 0 1em; text-align: right; text-decoration: none; color: #8A2404; float: right; }
#mobile-nav { display:none; }

p.copyright { text-align: center; }

#mobile-nav ul { list-style: none; margin: 0px; padding: 0px; }
#mobile-nav ul li { list-style: none; text-align: center; }
#mobile-nav ul li a { display: block; padding: 20px 10px; border-bottom: 1px solid #ccc; text-decoration: none; }
#mobile-nav ul li a:hover { background-color: #ccc; color: #fff; }

@media (max-width:48.000em){
  
	article { padding: 1.5em; }
	header nav { padding: 0.6em 0; }
	header nav > ul { display: none; }
	.anchor-link, #mobile-nav { display: block; }
	
	.back header { padding: .8em 0; background-color: #444; }
	.back header .anchor-link { color: #fff; }

	#page_container {
	  position: relative;
	  margin: 0px auto;
	  width: 100%;
	  z-index: 1;
	  -webkit-perspective: 1000px;
	  -moz-perspective: 1000px;
	  -o-perspective: 1000px;
	  perspective: 1000px;
	}
	#main_content {
	  width: 100%;
	  height: 100%;
	  -webkit-transform-style: preserve-3d;
	  -webkit-transition: all 1.0s linear;
	  -moz-transform-style: preserve-3d;
	  -moz-transition: all 1.0s linear;
	  -o-transform-style: preserve-3d;
	  -o-transition: all 1.0s linear;
	  transform-style: preserve-3d;
	  transition: all 1.0s linear;
	}
	
	#page_container.active #main_content {
	  -webkit-transform: rotateY(180deg);
	  -moz-transform: rotateY(180deg);
	  -o-transform: rotateY(180deg);
	  transform: rotateY(180deg);
	
	  -webkit-box-shadow: -5px 5px 5px #aaa;
	  -moz-box-shadow: -5px 5px 5px #aaa;
	  box-shadow: -5px 5px 5px #aaa;
	}
	.face {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  -o-backface-visibility: hidden;
	  backface-visibility: hidden;
	}
	.face.back {
	  display: block;
	  -webkit-transform: rotateY(180deg);
	  -webkit-box-sizing: border-box;
	  -moz-transform: rotateY(180deg);
	  -moz-box-sizing: border-box;
	  -o-transform: rotateY(180deg);
	  -o-box-sizing: border-box;
	  transform: rotateY(180deg);
	  color: white;
	  text-align: center;
	}

	.no-js #mobile-nav, 
	.no-csstransforms #mobile-nav { display: block; border-top: 1px solid #ccc; }
	.no-js .face,
	 .no-csstransforms .face{ position: relative; }
	.no-js .face.back { 
	  -webkit-transform: inherit;
	  -moz-transform: inherit;
	  -o-transform: inherit;
	  transform: inherit;
	 }
	 .no-js .back header,
	 .no-csstransforms .back header { display:none; }
	
}


/* css de la plage blog source d'origine */




a, a:visited {
  display: block;
  text-decoration: inherit;
  color: inherit;
}

/*html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: #e2e5eb;
} */

.container {
  padding: 0.5em 1em 1em;
  max-width: calc(1400px + 1em);
  margin: 0 auto;
  overflow: hidden;
}
.container .blog-posts .featured {
  width: 100% !important;
  height: 250px !important;
  margin: 0.5em 0 1em 0 !important;
}
.container .blog-posts .featured .image {
  height: 250px !important;
}
.container .blog-posts .featured .content {
  height: 250px !important;
}
.container .blog-posts .row {
  display: flex;
}
.container .blog-posts .row .post:last-child {
  margin-right: 0 !important;
}
.container .blog-posts .post {
  flex: 1;
  overflow: hidden;
  background: white;
  height: 200px;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 1em;
  margin-bottom: 1em;
}
.container .blog-posts .post:hover {
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}
.container .blog-posts .post:hover .image {
  opacity: 0.8;
}
.container .blog-posts .post .image, .container .blog-posts .post .content {
  display: inline-block;
  position: relative;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.container .blog-posts .post .image {
  float: left;
  width: 50%;
  height: 200px;
  background-size: cover;
  background-position: center center;
}
.container .blog-posts .post .image .time {
  background: rgba(255, 255, 255, 0.5);
  width: 50px;
  text-align: center;
  padding: 0.5em 0;
  color: #444;
}
.container .blog-posts .post .image .time .date {
  font-weight: bolder;
}
.container .blog-posts .post .image .time .month {
  font-size: 0.7rem;
}
.container .blog-posts .post .content {
  padding: 0.5em 1em;
  width: 50%;
  -moz-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
  height: 200px;
}
.container .blog-posts .post .content:before {
  content: '';
  position: absolute;
  background: white;
  width: 10px;
  height: 10px;
  top: 20%;
  left: -5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
}
.container .blog-posts .post .content h1 {
  font-weight: 600;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .blog-posts .post .content p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.5;
  margin-bottom: 0.5em;
  font-family: 'Merriweather', sans-serif;
}
.container .blog-posts .post .content .meta .icon-comment {
  font-size: 0.7em;
  line-height: 2;
  margin-top: auto;
}

[class^="icon-"]:before {
  margin-right: 0.5em;
  color: #3498db;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 840px) {
  .row {
    display: block !important;
  }
  .row .post {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .content {
    width: 70% !important;
  }

  .image {
    width: 30% !important;
  }

  h1 {
    text-overflow: inherit;
    white-space: normal;
  }
}
/* clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


